@import "../../_globalColor";

.projects-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 30px auto;
  max-width: 1000px;
  //background-color:  $lightBackground2;
  //box-shadow:  $lightBoxShadowDark 0px 10px 30px -15px;
}

.project-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
 text-align: center;
}

.project-video {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  text-align: center;
}

.project-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.image-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
text-align: center;

  .project-image {
    width: 32%; // Adjust as needed for spacing
    height: auto;
    border-radius: 5px;
    object-fit: cover; // Ensures images maintain aspect ratio
  }
}

.project-links {
  display: flex;
  justify-content: space-between;
	

  a {
  background-color: $buttonColor;
  border: solid 1px $buttonColor;
  color: $textColorDark;
  font-weight: 700;
  width: max-content;
  padding: 13px 22px;
  margin-right: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;

    &:hover {
        background-color: $darkBoxShadow2;
  	color: $buttonColor;
  	transition: all 0.3s ease 0s;
  	transform: translateY(-3px);
    }
  }

}

