@import "../../_globalColor";

.projects-section {
  padding: 20px;
  background-color: #f9f9f9; // Background color for the project section
}

.projects-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 15px auto;
  max-width: 600px;
  background-color:  $lightBackground2;
  box-shadow:  $lightBoxShadowDark 0px 10px 30px -15px;
}

.project-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.project-video {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.project-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.image-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .project-image {
    width: 32%; // Adjust as needed for spacing
    height: auto;
    border-radius: 5px;
    object-fit: cover; // Ensures images maintain aspect ratio
  }
}

.project-links {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;

    &:hover {
      color: #0056b3;
    }
  }
}

